body {
    background-color: red; 
}

.First > p {
    text-align: center;
    font-size: xx-large;
    text-decoration: line-through;
    font-family: cursive;
    font-weight: bold;
    font-style: italic;
    display: block;
    position: relative;
    margin: 0.5px;
    float: both;

}


.First > div > p  {
    color: violet;
    font-size: xx-large;
    font-style: italic;
    border: 10px solid ;
    text-align: center;
    text-decoration: dashed underline;
    border-radius: 100px;
    float: both;

}  

.second > div {
    color: blue;
    border: 5px solid black;
    margin: 269px;
    border-radius: 5%;
    width: 1000px;
    height: 150px;
    border-width: ;
    float: both;
    position: relative; 
}


.second > div > div > p {
    color: azure;
    border: 1px solid wheat;
    text-align: center;
    margin: 50px;
    border-radius: 10px;
    float: both;
}

#click{
    background-color: green;
    text-align: center;
    position: relative;
    left: 25% ;
    font-size: x-large;
    border: 3px solid white;
    margin: 10px ;
    margin-top: 40px;
    margin-left: 2rem;
    float: both;
}

#Fast{
    margin: auto;
    margin-top: -25px ;
    margin-left: 400px  ;
    font-size: x-large;
    margin: 20rem;
    position: relative;
    margin-right: 100px;
}

a{
    margin: auto;
    margin-top:  ;
    margin-left: 10px;
    font-size: x-large;
}

footer{
    color: blanchedalmond;
    border: 3px solid black;
    margin: 1px;
    display: inline-block;
    margin-left: 200rem;
    text-align: center;
}


#deepak{
    margin-right: 10px ;
}

@media (max-width: 600px) {
    .First > p, .First > div > p, .second > div > div > p, #click, #Fast, a {
        font-size: medium;
        margin: 5px;
    }

    .second > div {
        margin: 10px;
        padding: 10px;