.head{
    background-color: #3d52a0;
    padding: 10px;
    padding-top: 1px;
    display: block;
    margin-inline-start:rem;
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    margin-top: -7.7px;
    margin-left: -7.7px;
    margin-right: -7.7px;
    
}

.link{
    word-spacing: 100px;
    margin-right: 300px;
    font-size: larger;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
}

.home{
    color: white;
    text-decoration: none;
}
#css{
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-inline-start: 300px ; 
    margin-top: 60px;
    margin-bottom: -100px;
    font-size: xxx-large;
    color: whitesmoke;
}

.fill{
    font-size: x-large;  
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-inline-start: 20px; 
}

#name{
    height: 30px;
    margin-bottom: 15px;
}

#email{
    height: 30px;
    margin-bottom: 15px;
}

#message{
    height: 30px;
    margin-bottom: 15px;
}

#button{
    display: inline-flex;
    margin-inline-start: 19px;
    color: white;
    background-color: blue;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
    font-size: large;
    margin-bottom: 30px;
}

.paragraph-container{
    display: flex;
    background-color: aliceblue;
}

.paragraph{
    margin-block-start: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.css-container{
    width: 60rem;
    height: 30rem;
    margin-inline-start: 16.9rem;
    border: solid black;
    border-style: ;
    border-radius: 0.1rem;
}

.css{
    margin-block-start: 12rem;
    font-size: xxx-large;
    font-weight: bold;
    margin-left: 10rem;
}

.crash{
    display: inline-flex;
    flex-direction: row;
    margin-inline-start: 38rem;
    margin-top: 8rem;
    font-size: x-large;
    font-weight: bold;
}

footer{
    background-color: #3d52a0;
    color: white;
    text-align: center;
    padding: 0.1rem;
    font-style: italic;
    margin-top: 2rem;
    height: 40px;
}

html, body{
    margin: 0%;
    height: 100%;
    width: 100%;
    padding: 0%;
}